<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587824456430-nhep2aksiijc17hdfapthe6qc8pshhm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587824456430-nhep2aksiijc17hdfapthe6qc8pshhm9</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ihxZSXD5mvuu4A7GvwmoMWyU2TVse00</string>
	<key>GCM_SENDER_ID</key>
	<string>587824456430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>company.ChatAppIOS</string>
	<key>PROJECT_ID</key>
	<string>chatappios-4682d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-4682d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587824456430:ios:14fb662537ef60ea8a09ff</string>
</dict>
</plist>